@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
/*Como llamar: 'Montserrat Alternates', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
/*Como llamar: 'Playfair Display SC', serif;*/
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/liberation-serif.min.css");
/*Como llamar: 'Liberation Serif', sans-serif;*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.icono-flotante img {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px; }

@media screen and (max-width: 1079px) {
  .icono-flotante img {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 20px;
    left: 19px;
    right: auto; } }

#servicios .div-servicios, .section-hero-prod, .section-mis-turnos .div-mis-turnos .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

#nosotros .div-texto-nosotros h2, #servicios .div-servicios h2, #producciones .titulo-producciones h2, #contactanos .titulo-contactanos {
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
  text-decoration: underline;
  padding-bottom: 8%; }

#servicios .div-servicios, .section-hero-prod, .section-mis-turnos .div-mis-turnos .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

#nosotros .div-texto-nosotros h2, #servicios .div-servicios h2, #producciones .titulo-producciones h2, #contactanos .titulo-contactanos {
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
  text-decoration: underline;
  padding-bottom: 8%; }

.header {
  position: sticky;
  top: 0px;
  z-index: 100;
  /*boton suscripcion*/
  /*menu hamburguesa*/
  /*Sublista menu*/ }
  .header .menu {
    background-color: black;
    border-bottom: 1px solid #d9a7a7; }
    .header .menu .nav-link {
      text-decoration: none;
      color: #d9a7a7;
      font-family: 'Montserrat Alternates', sans-serif; }
      .header .menu .nav-link:hover {
        color: #e6cfcf;
        text-decoration: underline; }
    .header .menu .dropdown-item {
      text-decoration: none;
      color: #d9a7a7;
      font-family: 'Montserrat Alternates', sans-serif; }
      .header .menu .dropdown-item:hover {
        color: #e6cfcf; }
  .header .img-logo {
    width: 10em; }
  .header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem; }
  .header .div-boton-suscripcion {
    padding-right: 2%; }
    .header .div-boton-suscripcion a {
      background: black;
      padding: 10px 20px;
      border: 2px solid #d9a7a7;
      color: #d9a7a7;
      font-size: 15px;
      letter-spacing: 1.5px;
      text-decoration: none;
      font-family: "Montserrat Alternates"; }
      .header .div-boton-suscripcion a:hover {
        background: linear-gradient(to right, black 50%, #d9a7a7 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.4s ease-out;
        transition-delay: 0s;
        color: black; }
  .header .btn-dark {
    background-color: #d9a7a7; }
    .header .btn-dark:hover {
      color: #d9a7a7;
      background-color: #e59393;
      border-color: 2px solid #d9a7a7; }
  .header .sublista-turnos {
    background-color: black;
    border: 1px solid #d9a7a7;
    text-align: center;
    padding: 2%; }
    .header .sublista-turnos .sublista-sacar-turnos {
      border-bottom: 1px solid #d9a7a7; }

@media screen and (max-width: 1079px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem; }
  .nav-hamburgesa {
    background-color: #d9a7a7; }
  .div-boton-suscripcion {
    display: flex;
    justify-content: center; }
  .ul-menu {
    text-align: center; } }

@media screen and (max-width: 991px) {
  /*-----Sub-list menú-----*/
  .header {
    /*-----Sub-list menú-----*/ }
    .header .sublista-turnos {
      border: none;
      padding: 0%; }
      .header .sublista-turnos .turnos-sublist {
        border-bottom: none;
        text-decoration: 2px underline #d9a7a7;
        padding: 0% 0% 0% 0%; }
        .header .sublista-turnos .turnos-sublist a {
          color: #e6cfcf;
          padding-right: 2.5rem; }
    .header .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem; }
    .header .navbar-expand-lg .navbar-nav .dropdown {
      padding-left: 0.8rem; } }

#servicios .div-servicios, .section-hero-prod, .section-mis-turnos .div-mis-turnos .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

#nosotros .div-texto-nosotros h2, #servicios .div-servicios h2, #producciones .titulo-producciones h2, #contactanos .titulo-contactanos {
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
  text-decoration: underline;
  padding-bottom: 8%; }

.div-footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #d9a7a7;
  /*Texto izquierda*/
  /*centro*/
  /*Texto derecha*/ }
  .div-footer .div-conteiner-footer {
    color: #d9a7a7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; }
    .div-footer .div-conteiner-footer .div-texto-footer {
      padding-bottom: 10px;
      padding-top: 2%; }
      .div-footer .div-conteiner-footer .div-texto-footer h3 {
        font-size: 20px;
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 3px;
        border-bottom: 1px solid #d9a7a7; }
      .div-footer .div-conteiner-footer .div-texto-footer p {
        font-size: 15px;
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 1px; }
    .div-footer .div-conteiner-footer .div-info-footer p {
      font-size: 18px;
      color: #e6cfcf;
      font-family: 'Liberation Serif', sans-serif; }
  .div-footer .div-logo-iconos-footer .logo-footer {
    width: 100%;
    height: 150px; }
  .div-footer .div-logo-iconos-footer .div-iconos-footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
    .div-footer .div-logo-iconos-footer .div-iconos-footer img {
      width: 45px;
      height: 45px; }
      .div-footer .div-logo-iconos-footer .div-iconos-footer img:hover {
        transform: scale(1.5, 1.5);
        transition-duration: 1s; }
  .div-footer .div-horario-footer {
    color: #d9a7a7;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 1%; }
    .div-footer .div-horario-footer .div-texto-horario-footer {
      padding-bottom: 10px;
      padding-top: 15%; }
      .div-footer .div-horario-footer .div-texto-horario-footer h3 {
        font-size: 20px;
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 3px;
        border-bottom: 1px solid #d9a7a7; }
      .div-footer .div-horario-footer .div-texto-horario-footer p {
        font-size: 15px;
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 1px; }
    .div-footer .div-horario-footer .div-hora-footer .dias {
      font-size: 20px;
      color: #e6cfcf;
      font-family: 'Liberation Serif', sans-serif; }
    .div-footer .div-horario-footer .div-hora-footer .hora {
      font-size: 15px;
      font-family: 'Liberation Serif', sans-serif; }

/*Leyenda*/
.div-leyenda-footer {
  text-align: center;
  background-color: black;
  color: #d9a7a7;
  font-family: 'Liberation Serif', sans-serif;
  font-size: 15px;
  padding-left: 4%; }
  .div-leyenda-footer p {
    margin-bottom: 0rem; }

@media screen and (max-width: 1079px) {
  .div-footer {
    display: grid;
    height: auto;
    padding: 5% 0% 5% 4%; }
    .div-footer .div-conteiner-footer {
      margin-left: -80%;
      padding-right: 60%; }
    .div-footer .div-logo-iconos-footer {
      order: -1;
      padding-bottom: 10%; }
    .div-footer .div-horario-footer {
      margin-right: -80%;
      padding-left: 60%; } }

@media screen and (max-width: 938px) {
  .div-footer .div-conteiner-footer {
    margin-left: -10%;
    padding-right: 0%; }
  .div-footer .div-horario-footer {
    margin-right: -10%;
    padding-left: 0%; } }

@media screen and (max-width: 426px) {
  .div-conteiner-footer {
    margin-left: -0%;
    padding-right: 0%; }
  .div-horario-footer {
    margin-right: -0%;
    padding-left: 0%; } }

@media screen and (max-width: 390px) {
  .div-footer {
    display: flex;
    flex-direction: column; } }

/*-----------------INDEX-----------------*/
/*--section 0 (NOSOTROS)--*/
.titulo-index {
  background-color: #d9a7a7;
  border: 6px dashed black;
  text-align: center;
  color: black; }
  .titulo-index .div-titulo-index h1 {
    font-family: 'Playfair Display SC', serif;
    padding-top: 3%;
    padding-bottom: 3%; }

/*--section 1 (NOSOTROS)--*/
#nosotros {
  background-color: black;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  #nosotros .div-texto-nosotros {
    color: #d9a7a7;
    border-left: 15px solid; }
    #nosotros .div-texto-nosotros h2 {
      padding-bottom: 0%;
      padding-inline: 30px; }
    #nosotros .div-texto-nosotros p {
      font-size: 140%;
      padding-inline: 30px;
      font-family: 'Montserrat Alternates', sans-serif; }
  #nosotros .img-nosotros {
    width: 100%;
    padding: 3%; }

/*--section 2 (servicios)--*/
#servicios {
  background-color: #d9a7a7;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  /*boton LISTA DE PRECIOS*/ }
  #servicios .img-servicios img {
    width: 80%;
    height: 100%;
    border: 10px solid black; }
  #servicios .div-servicios h2 {
    color: black;
    text-align: center; }
  #servicios .div-servicios .accordion {
    width: 150%; }
    #servicios .div-servicios .accordion .accordion-item {
      border: 0px;
      background-color: #d9a7a7; }
      #servicios .div-servicios .accordion .accordion-item .accordion-header .accordion-button {
        padding-left: 20%;
        padding-right: 20%;
        background-color: #d9a7a7; }
        #servicios .div-servicios .accordion .accordion-item .accordion-header .accordion-button p {
          color: black; }
        #servicios .div-servicios .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
          background-color: #d9a7a7;
          color: black;
          box-shadow: 0 0 0 0.25rem #d9a7a7; }
        #servicios .div-servicios .accordion .accordion-item .accordion-header .accordion-button:focus {
          box-shadow: 0 0 0 0.25rem #d9a7a7; }
        #servicios .div-servicios .accordion .accordion-item .accordion-header .accordion-button::after {
          background-image: url(../img/plus.png); }
      #servicios .div-servicios .accordion .accordion-item .accordion-body {
        display: flex;
        flex-direction: column;
        padding: 0rem 0rem 1rem 2rem; }
        #servicios .div-servicios .accordion .accordion-item .accordion-body strong {
          padding-bottom: 5%; }
  #servicios .boton-mas-servicios {
    padding-bottom: 10%;
    padding-top: 15%; }
    #servicios .boton-mas-servicios a {
      background: #d9a7a7;
      padding: 11px 32px;
      border: 2px solid black;
      color: black;
      font-size: 20px;
      letter-spacing: 1.5px;
      text-decoration: none;
      font-family: "Montserrat Alternates"; }
      #servicios .boton-mas-servicios a:hover {
        background-color: black;
        color: #d9a7a7; }

/*---section 3 (producciones)--*/
#producciones {
  background-color: black;
  height: auto;
  padding: 2% 2% 4% 2%;
  /*boton mas*/ }
  #producciones .titulo-producciones h2 {
    text-align: left;
    color: #d9a7a7;
    padding-bottom: 3%; }
  #producciones .div-img-producciones > div {
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  #producciones .div-img-producciones img {
    width: 25%;
    height: 100%; }
    #producciones .div-img-producciones img:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 2s; }
  #producciones .div-boton-mas-producciones {
    display: flex;
    justify-content: center; }
    #producciones .div-boton-mas-producciones .boton-mas {
      background: black;
      padding: 11px 32px;
      border: 2px solid #d9a7a7;
      color: #d9a7a7;
      font-size: 20px;
      letter-spacing: 1.5px;
      text-decoration: none;
      font-family: "Montserrat Alternates"; }
      #producciones .div-boton-mas-producciones .boton-mas:hover {
        background-color: #d9a7a7;
        color: black; }

/*--section 4 (contactanos)--*/
#contactanos {
  background-color: #d9a7a7;
  padding: 2%; }
  #contactanos .titulo-contactanos {
    color: black;
    padding: 30px;
    text-align: center; }
  #contactanos .div-container-contactanos {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #contactanos .div-container-contactanos .div-form-contactanos {
      background-color: black;
      border-radius: 19px;
      border: 20px inset black; }
      #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos {
        color: #d9a7a7;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 13%; }
        #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos .div-conteiner-datos {
          display: flex;
          flex-direction: row;
          padding-bottom: 5px; }
          #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos .div-conteiner-datos img {
            padding-right: 5%;
            width: 3rem;
            height: 2rem; }
          #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos .div-conteiner-datos p {
            padding-top: 2%;
            font-size: 15px;
            font-family: 'Montserrat Alternates', sans-serif; }
      #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div {
        padding-bottom: 1%;
        /*boton enviar*/ }
        #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div .form-row {
          display: flex;
          flex-direction: row; }
          #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div .form-row .div-nombre {
            margin-right: 2%; }
        #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div .div-asunto-contactanos {
          margin-bottom: 1%; }
        #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div .boton-enviar {
          margin-top: 5%;
          display: flex;
          justify-content: center; }
          #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div .boton-enviar a {
            background: #d9a7a7;
            padding: 8px 25px;
            border: 2px solid black;
            color: black;
            font-size: 15px;
            letter-spacing: 1.5px;
            text-decoration: none;
            font-family: "Liberation Serif"; }
            #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos div .boton-enviar a:hover {
              background-color: black;
              color: #d9a7a7;
              border: 2px solid #d9a7a7; }

/*-----------------lISTA DE PRECIOS----------------*/
.section-img-logo {
  width: 100%;
  min-width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%; }
  .section-img-logo img {
    width: 15rem; }

.titulo-lista-precios {
  background-color: black;
  padding-top: 2%;
  padding-bottom: 3%; }
  .titulo-lista-precios h1 {
    color: #d9a7a7;
    text-align: center;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 5px;
    text-decoration: underline;
    margin-bottom: 0rem; }

.precios {
  color: #d9a7a7;
  background-color: black;
  padding-top: 3%;
  padding-bottom: 3%; }
  .precios .titulo {
    border-radius: 19px;
    background: #d9a7a7;
    box-shadow: 5px 5px 21px #b48b8b, -5px -5px 21px #fec3c3;
    margin: 0% 20% 2% 20%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 3%; }
    .precios .titulo h2 {
      margin-bottom: 0rem; }
  .precios .div-conteiner-precios {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .precios .div-conteiner-precios > div {
      display: inline-block;
      font-family: 'Liberation Serif', sans-serif;
      width: 50%; }
      .precios .div-conteiner-precios > div .table {
        background-color: #d9a7a7;
        font-size: 20px;
        border: 1px solid #d9a7a7; }
        .precios .div-conteiner-precios > div .table > :not(caption) > * > * {
          border-bottom-width: 0px; }
        .precios .div-conteiner-precios > div .table .table-active {
          --bs-table-accent-bg: black;
          color: #d9a7a7; }

.section-principios-precios {
  background-color: black;
  padding-bottom: 3%; }
  .section-principios-precios .principios-precios ul {
    margin-bottom: 0rem; }
    .section-principios-precios .principios-precios ul li {
      margin-left: 15%;
      margin-right: 18%;
      padding-bottom: 2%;
      font-size: 15px;
      font-family: 'Liberation Serif', sans-serif;
      color: #d9a7a7; }

/*-----------------PRODUCCIONES----------------*/
.section-hero-prod {
  background-color: black;
  justify-content: center;
  padding-top: 5%; }
  .section-hero-prod .div-titulo-prod {
    display: flex;
    flex-direction: column-reverse;
    color: #d9a7a7;
    text-align: center;
    font-family: 'Playfair Display SC', serif; }
    .section-hero-prod .div-titulo-prod h2 {
      font-size: 30px;
      letter-spacing: 5px;
      animation-duration: 4s;
      animation-name: tituloproduccionesh1; }

@keyframes tituloproduccionesh1 {
  from {
    color: black; }
  top {
    color: #d9a7a7; } }
    .section-hero-prod .div-titulo-prod .div-galeria {
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-name: tituloproduccionesh2; }

@keyframes tituloproduccionesh2 {
  0% {
    color: #be94be; }
  25% {
    color: #e59393; }
  50% {
    color: #d9a7a7; }
  75% {
    color: #e6cfcf; }
  100% {
    color: #be94be; } }
      .section-hero-prod .div-titulo-prod .div-galeria h1 {
        font-size: 50px;
        letter-spacing: 20px; }
  .section-hero-prod .grupo-img-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px 20px;
    padding: 5% 4% 8% 4%; }
    .section-hero-prod .grupo-img-1 .img-producciones img {
      width: 100%;
      height: 100%; }
    .section-hero-prod .grupo-img-1 .img4 {
      grid-column: span 3;
      object-fit: cover; }
    .section-hero-prod .grupo-img-1 .img8 {
      grid-column: 1/3; }

/*-----------------SUSCRIBETE----------------*/
.section-suscribete {
  background-color: #d9a7a7;
  padding: 5%;
  /*form*/
  /*boton suscribirme*/ }
  .section-suscribete .div-titulo-suscribete {
    color: black;
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    padding-bottom: 5%; }
    .section-suscribete .div-titulo-suscribete h1 {
      letter-spacing: 5px;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-name: titulosuscribeteh1; }

@keyframes titulosuscribeteh1 {
  0% {
    font-size: 50px; }
  50% {
    font-size: 80px; }
  100% {
    font-size: 50px; } }
    .section-suscribete .div-titulo-suscribete h2 {
      font-size: 30px;
      letter-spacing: 5px; }
    .section-suscribete .div-titulo-suscribete .div-suscribete-efecto {
      height: 100px; }
  .section-suscribete .div-beneficios {
    padding-bottom: 2%;
    display: flex;
    justify-content: center; }
    .section-suscribete .div-beneficios li {
      padding-bottom: 1%;
      font-size: 25px;
      font-family: 'Liberation Serif', sans-serif;
      text-decoration: underline; }
  .section-suscribete .div-h3-suscribete {
    padding-bottom: 4%; }
    .section-suscribete .div-h3-suscribete h3 {
      text-align: center;
      font-size: 25px; }
  .section-suscribete .form-suscribete > div {
    display: flex;
    justify-content: space-evenly; }
  .section-suscribete .form-suscribete .div-form-suscribete > div {
    width: 30%;
    height: 100%; }
  .section-suscribete .form-suscribete .div-form-suscribete .caja-titulo-suscribete {
    width: 100%;
    background-color: #e6cfcf;
    font-family: 'Montserrat Alternates', sans-serif;
    justify-content: center; }
  .section-suscribete .boton-suscribirme {
    padding-top: 3%;
    display: flex;
    justify-content: center; }
    .section-suscribete .boton-suscribirme a {
      text-decoration: none;
      background-color: #d9a7a7;
      color: black;
      font-size: 20px;
      font-family: 'Liberation Serif', sans-serif;
      border: 3px solid black;
      padding: 10px 30px; }
      .section-suscribete .boton-suscribirme a:hover {
        background-color: black;
        color: #d9a7a7; }

/*-----------------SACAR TURNO----------------*/
.section-sacar-turno {
  background-color: black;
  color: #d9a7a7;
  text-align: center;
  padding-bottom: 3%;
  /*form*/
  /*boton sacar turno*/ }
  .section-sacar-turno .titulo-sacar-turno {
    padding: 2%;
    text-align: left;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 3px; }
    .section-sacar-turno .titulo-sacar-turno h1 {
      font-size: 30px;
      text-decoration: underline; }
    .section-sacar-turno .titulo-sacar-turno h2 {
      font-size: 15px; }
  .section-sacar-turno .form-sacar-turnos .div-radio-form > div {
    display: inline-block;
    padding: 2%; }
  .section-sacar-turno .form-sacar-turnos .div-radio-form .form-check .form-check-input:checked {
    background-color: #e59393;
    border-color: #e59393; }
  .section-sacar-turno .form-sacar-turnos .div-radio-form .form-check label {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px; }
  .section-sacar-turno .form-sacar-turnos .div-option-form {
    padding: 2%; }
    .section-sacar-turno .form-sacar-turnos .div-option-form .input-group {
      width: 40%; }
      .section-sacar-turno .form-sacar-turnos .div-option-form .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem; }
      .section-sacar-turno .form-sacar-turnos .div-option-form .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        margin-left: 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0; }
      .section-sacar-turno .form-sacar-turnos .div-option-form .input-group select {
        border: 3px solid #d9a7a7; }
      .section-sacar-turno .form-sacar-turnos .div-option-form .input-group input {
        border: 3px solid #d9a7a7; }
      .section-sacar-turno .form-sacar-turnos .div-option-form .input-group .caja-titulo-sacar-turno {
        width: 100%;
        background-color: #e6cfcf;
        font-family: 'Montserrat Alternates', sans-serif;
        justify-content: center; }
  .section-sacar-turno .form-sacar-turnos .div-terminos p {
    font-size: 20px;
    font-family: 'Liberation Serif', sans-serif;
    padding-top: 2%; }
  .section-sacar-turno .form-sacar-turnos .div-terminos .div-check-terminos-sacar-turno {
    padding: 0% 30% 2% 30%;
    text-align: left; }
  .section-sacar-turno .boton-reservar-turno a {
    text-decoration: none;
    background-color: #d9a7a7;
    color: black;
    font-size: 20px;
    font-family: 'Liberation Serif', sans-serif;
    border: 3px solid black;
    padding: 10px 30px; }
    .section-sacar-turno .boton-reservar-turno a:hover {
      background-color: black;
      color: #d9a7a7;
      border: 2px solid #d9a7a7; }

/*-----------------MIS TURNOS----------------*/
.section-mis-turnos {
  background-color: #d9a7a7;
  color: black;
  padding-bottom: 1%;
  padding-top: 4%; }
  .section-mis-turnos .div-titulo-mis-turnos {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 3px; }
    .section-mis-turnos .div-titulo-mis-turnos h1 {
      font-size: 40px;
      text-decoration: underline; }
    .section-mis-turnos .div-titulo-mis-turnos h2 {
      font-size: 15px; }
  .section-mis-turnos .div-mis-turnos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%; }
    .section-mis-turnos .div-mis-turnos .card {
      background-color: #d9a7a7;
      width: 18rem; }
      .section-mis-turnos .div-mis-turnos .card .card-header {
        background-color: black;
        color: #e6cfcf;
        text-align: center; }

/*--------------------MEDIA QUERIES----------------*/
@media screen and (max-width: 1298px) {
  /*-----INDEX-----*/
  /*nosotros*/
  .div-texto-nosotros p {
    font-size: 20px; }
  /*contactanos*/
  .div-container-contactanos {
    flex-direction: column; }
    .div-container-contactanos .div-form-contactanos {
      margin: 4% 0% 4% 0%; } }

@media screen and (max-width: 1116px) {
  /*-----INDEX-----*/
  /*nosotros*/
  .div-texto-nosotros h2 {
    font-size: 35px; }
  /*-----lISTA DE PRECIOS-----*/
  .titulo-lista-precios h1 {
    font-size: 30px; } }

@media screen and (max-width: 1079px) {
  /*-----INDEX-----*/
  /*nosotros*/
  #nosotros {
    flex-direction: column;
    height: auto;
    padding-top: 10%; }
  /*servicios*/
  #servicios {
    flex-direction: column;
    height: auto;
    padding: 5%; }
    #servicios .img-servicios {
      display: flex;
      justify-content: center; }
    #servicios .div-servicios {
      order: -2;
      padding-bottom: 5%; }
  /*producciones*/
  #producciones {
    height: auto; }
    #producciones .titulo-producciones h2 {
      text-align: center; }
    #producciones .div-producciones .div-img-producciones > div {
      flex-direction: column;
      align-items: center; }
    #producciones .div-producciones .div-img-producciones img {
      padding-bottom: 3%;
      width: 50%; }
  /*contactanos*/
  #contactanos {
    padding: 2%; }
    #contactanos .titulo-contactanos {
      margin: auto; } }

@media screen and (max-width: 938px) {
  /*-----lISTA DE PRECIOS-----*/
  .titulo-lista-precios h1 {
    font-size: 20px; }
  /*-----SACAR TURNO-----*/
  .section-sacar-turno .form-sacar-turnos .div-radio-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  /*-----MIS TURNO-----*/
  .section-mis-turnos .div-mis-turnos {
    flex-direction: column; } }

@media screen and (max-width: 734px) {
  /*-----PRODUCCIONES-----*/
  .section-hero-prod .grupo-img-1 .img1parte {
    grid-column: 1/4; }
  .section-hero-prod .grupo-img-1 .img3parte {
    grid-column: 1/4; }
  .section-hero-prod .grupo-img-1 .img8 {
    grid-column: 1/4; }
  /*-----SACAR TURNO-----*/
  .section-sacar-turno .titulo-sacar-turno {
    text-align: center;
    padding-bottom: 4%; } }

@media screen and (max-width: 660px) {
  /*-----INDEX-----*/
  /*contactanos*/
  .div-iframe-contactanos iframe {
    width: 550px;
    height: 350px; }
  /*-----SUSCRIBETE-----*/
  .section-suscribete .div-titulo-suscribete .div-suscribete-efecto {
    height: 50px; }
  @keyframes titulosuscribeteh1 {
    0% {
      font-size: 40px; }
    50% {
      font-size: 50px; }
    100% {
      font-size: 40px; } }
  .section-suscribete .div-titulo-suscribete h2 {
    font-size: 25px; }
  .section-suscribete .form-suscribete > div {
    flex-direction: column;
    align-items: center; }
  .section-suscribete .form-suscribete .div-form-suscribete > div {
    width: 80%; }
  .section-suscribete .form-suscribete input {
    height: 50px; } }

@media screen and (max-width: 609px) {
  /*-----INDEX-----*/
  /*contactanos*/
  .titulo-contactanos {
    font-size: 35px; }
  .div-iframe-contactanos iframe {
    width: 500px;
    height: 300px; }
  .div-info-contactanos p {
    padding-bottom: 3%;
    font-size: 15px; }
  /*-----SUSCRIBETE-----*/
  .section-suscribete .div-beneficios {
    padding-left: 5%; }
  /*-----SACAR TURNO-----*/
  .section-sacar-turno .form-sacar-turnos .div-terminos .div-check-terminos-sacar-turno {
    padding: 0% 10% 4% 10%; } }

@media screen and (max-width: 525px) {
  /*-----INDEX-----*/
  #contactanos .div-container-contactanos .div-iframe-contactanos iframe {
    width: 450px;
    height: 300px; }
  #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos {
    padding-left: 13%; }
    #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos .div-conteiner-datos {
      padding-bottom: 5px; }
      #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos .div-conteiner-datos img {
        width: 3rem;
        height: 2rem; }
      #contactanos .div-container-contactanos .div-form-contactanos .div-info-contactanos .div-conteiner-datos p {
        font-size: 15px;
        padding-top: 2%; }
  #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos .form-row {
    flex-direction: column; }
    #contactanos .div-container-contactanos .div-form-contactanos .form-contactanos .form-row .div-nombre {
      margin-right: 0%;
      padding-bottom: 2%; }
  /*-----PRODUCCIONES-----*/
  .section-hero-prod .div-titulo-prod .div-galeria h1 {
    font-size: 250%; }
  .section-hero-prod .div-titulo-prod h2 {
    font-size: 120%; } }

@media screen and (max-width: 490px) {
  /*-----INDEX-----*/
  /*contactanos*/
  #contactanos .titulo-contactanos {
    font-size: 30px; }
  #contactanos .div-container-contactanos .div-iframe-contactanos iframe {
    width: 400px;
    height: 300px; }
  /*-----PRODUCCIONES-----*/
  .div-titulo-prod .div-galeria h1 {
    font-size: 250%; }
  .div-titulo-prod h2 {
    font-size: 150%; }
  /*-----SACAR TURNO-----*/
  .section-sacar-turno .form-sacar-turnos .div-terminos p {
    font-size: 15px; }
  .section-sacar-turno .form-sacar-turnos .div-terminos label {
    font-size: 12px; } }

@media screen and (max-width: 426px) {
  /*-----INDEX-----*/
  .titulo-querie {
    font-size: 25px; }
  #contactanos .div-container-contactanos .div-iframe-contactanos iframe {
    width: 250px;
    height: 150px; }
  /*-----lISTA DE PRECIOS-----*/
  .section-titulo-principios {
    height: auto;
    padding-bottom: 5%; }
    .section-titulo-principios .titulo-lista-precios h1 {
      font-size: 15px; }
    .section-titulo-principios .principios-precios li {
      font-size: 15px; }
  .precios .titulo {
    margin: 0% 10% 2% 10%; }
    .precios .titulo h2 {
      font-size: 20px; }
  .precios .div-conteiner-precios div {
    width: 70%; }
  /*-----SUSCRIBETE-----*/
  .section-suscribete .div-titulo-suscribete .div-suscribete-efecto {
    height: 40px; }
    .section-suscribete .div-titulo-suscribete .div-suscribete-efecto h1 {
      font-size: 35px; }
  @keyframes titulosuscribeteh1 {
    0% {
      font-size: 25px; }
    50% {
      font-size: 30px; }
    100% {
      font-size: 25px; } }
  .section-suscribete .div-titulo-suscribete h2 {
    font-size: 25px; }
  .section-suscribete .div-beneficios ul li {
    font-size: 22px; } }

@media screen and (max-width: 390px) {
  /*-----INDEX-----*/
  /*nosotros*/
  #nosotros .div-texto-nosotros p {
    font-size: 15px; }
  /*servicios*/
  #servicios .boton-mas-servicios a {
    font-size: 15px;
    padding: 8px 20px; }
  /*producciones*/
  #producciones .div-boton-mas-producciones .boton-mas {
    font-size: 15px;
    padding: 8px 20px; }
  /*-----LISTA DE PRECIOS-----*/
  .precios {
    padding-top: 4%;
    padding-bottom: 4%; }
  /*-----PRODUCCIONES-----*/
  .section-hero-prod .div-titulo-prod .div-galeria h1 {
    font-size: 180%; }
  .section-hero-prod .div-titulo-prod h2 {
    font-size: 100%; }
  /*-----SACAR TURNO-----*/
  .section-sacar-turno .form-sacar-turnos .div-terminos .div-check-terminos-sacar-turno {
    padding: 0% 25% 4% 25%; }
  /*-----MIS TURNO-----*/
  .section-mis-turnos .div-mis-turnos .card {
    width: 15rem; } }
