@import "../base/variables";

.header {
    position: sticky;
    top: 0px;
    z-index: 100;
    .menu {
        background-color: $color-secundario;
        border-bottom: 1px solid $color-principal;
        .nav-link {
            text-decoration: none;
            color: $color-principal;
            font-family: 'Montserrat Alternates', sans-serif;
            &:hover {
                color: #e6cfcf;
                text-decoration: underline;
            }
        }
        .dropdown-item{
            text-decoration: none;
            color: $color-principal;
            font-family: 'Montserrat Alternates', sans-serif;
            &:hover {
                color: #e6cfcf;
            }
        }
    }
    .img-logo{
        width: 10em;
    }
    .navbar-expand-lg{
        .navbar-nav{
            .nav-link{
                padding-right: 2rem;
            }
        }
    }
    /*boton suscripcion*/
    .div-boton-suscripcion{
        padding-right: 2%;
        a{
            background: map-get($botones , color1 );
            padding: map-get($botones , padding-bottom-menu );
            border: map-get($botones , border1 );
            color: map-get($botones , color-texto1 );
            font-size: map-get($botones , t-letra-form );
            letter-spacing: map-get($botones , sp-letras );
            text-decoration: map-get($botones , underline-text );
            font-family:  map-get($botones , estilo-letra );
            &:hover{
                background: linear-gradient(to right, $color-secundario 50%, $color-principal 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all 0.4s ease-out;
                transition-delay: 0s;
                color: black;
            }
        }
    }
    /*menu hamburguesa*/
    .btn-dark{
        background-color: $color-principal;
        &:hover{
            color: $color-principal;
            background-color: #e59393;
            border-color: 2px solid $color-principal;
        }
    }
    /*Sublista menu*/
    .sublista-turnos{
        background-color: $color-secundario;
        border: 1px solid $color-principal;
        text-align: center;
        padding: 2%;
        .sublista-sacar-turnos{
            border-bottom: 1px solid $color-principal;
        }
    }
}

@media screen and (max-width:1079px) {
    .navbar-expand-lg{
        .navbar-nav{
            .nav-link {
                padding-right: 1rem;
            }
        }
    }
    .nav-hamburgesa{
        background-color: $color-principal;
    }
    .div-boton-suscripcion{
        display: flex;
        justify-content: center;
    }
    .ul-menu{
        text-align: center;
    }
}

@media screen and (max-width:991px){
    /*-----Sub-list menú-----*/
    .header{
        .sublista-turnos{
            border: none;
            padding: 0%;
            .turnos-sublist{
                border-bottom: none;
                text-decoration: 2px underline $color-principal;
                padding: 0% 0% 0% 0%;
                a{
                    color: #e6cfcf;
                    padding-right: 2.5rem;
                }
            }
        }
        /*-----Sub-list menú-----*/
        .navbar-expand-lg{
            .navbar-nav{
                .nav-link {
                    padding-right: 1rem;
                }
                .dropdown{
                    padding-left: 0.8rem;
                }
            }
        }
    }
}